.about-me-banner {
  height: 94vh;
}

.about-me-banner img {
  padding-left: 3px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#myName {
  font-size: 36px;
  padding-bottom: 30px;
  padding-left: 35px;
}

#interests {
  padding-left: 9px;
  text-align: center;
}
