.middle {
  margin: auto;
  width: 50%;
  text-align: center;
}

#project-image {
  object-fit: cover;
  overflow: hidden;
}

#title {
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
}

#project-summary {
  padding: 10px;
  width: 50%;
  margin: auto;
}
