.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  justify-content: center;
  height: 80vh;
}

.download {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 200px;
}

.spacer {
  padding-top: 50px;
}

button{
  text-align: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40%;
  text-decoration: none;
  font-size: 17px;
  border: none;
}

/* Change the color of links on hover */
button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
button.active {
  background-color: #04AA6D;
  color: white;
}
